<h1> Hello {{name}} </h1>
<p> Email {{email}} </p>
<p> Address : {{address.street}} {{address.city}} {{ address.state}} </p>

<button (click)="toggleHobbies()">{{showHobbies ? "Hide Hobbies" : "Show Hobbies "}}</button>
<div *ngIf="showHobbies">
    <h3>Hobbies </h3>
    <ul>
        <li *ngFor="let hobby of hobbies; let i = index">
            {{hobby}} <button (click)="deleteHobby(i)"> X </button>
        </li>
    </ul>

    <form (submit)="addHobby(hobby.value)">
        <label> Add Hobby: </label><br/>
        <input type="text" #hobby />
    </form>

</div>

<hr/>

<h3> Edit User </h3>
<form>
    <table class="table">
        <tr>
            <td> <label> Name: </label> </td>
            <td> <input type="text" name="name" [(ngModel)]="name" /> </td>
        </tr>
        <tr>
            <td> <label> Email: </label> </td>
            <td> <input type="text" name="email" [(ngModel)]="email" /> </td>
        </tr>
        <tr>
            <td> <label> Street: </label> </td>
            <td> <input type="text" name="address.street" [(ngModel)]="address.street" /> </td>
        </tr>
        <tr>
            <td> <label> City: </label> </td>
            <td> <input type="text" name="address.city" [(ngModel)]="address.city" /> </td>
        </tr>
        <tr>
            <td> <label> State: </label> </td>
            <td> <input type="text" name="address.state" [(ngModel)]="address.state" /> </td>
        </tr>
    </table>


</form>

<hr/>

<h3 style="text-decoration: underline; color: green"> Posts (it comes from json api) </h3>
<div *ngFor="let post of posts">
    <h3> {{post.title}} </h3>
    <p> {{post.body}} </p>
</div>